
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public_html/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
/composer.phar
