{% extends "base.html.twig" %}
{% block body %}
    <div class="logo" style="background-image: url(img/logo.svg);"></div>
    <section class="layers">
        <div class="layers__container">
            <div class="layers__item layer-1" style="background-image: url(img/layer-1.jpg);"></div>
            <div class="layers__item layer-2" style="background-image: url(img/layer-2.png);"></div>
            <div class="layers__item layer-3">
                <div class="hero-content">
                    <h1>Bots</h1>
                    <div class="hero-content__p">Тут тебе делать нечего</div>
                    <a class="button-start" href="#">Уходи</a>
                </div>
            </div>
            <div class="layers__item layer-4">
                <canvas class="rain"></canvas>
            </div>
            <div class="layers__item layer-5" style="background-image: url(img/layer-5.png);"></div>
            <div class="layers__item layer-6" style="background-image: url(img/layer-6.png);"></div>
        </div>
    </section>
{% endblock %}
